# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
.venv
env/
venv/

# Environments
.env
local.env

# IDE config files
.vscode
.idea
.mypy_cache

# Volumes
data/

# Sqlite
*.sqlite3

# Log files
*log

#Static Files
*staticfiles/